<%- include('partials/header') %>
<div class="container">
  <div class="jumbotron3 ">
    <i class="fas fa-key fa-6x key"></i>
    <h1 class="display-3">SECRETS</h1>
    <p class="secret-text">Break the silence, share your story anonymously!</p>
    <form action="/submit" method="POST">
      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-dark submiti">Submit</button>
    </form>
    <div class="copyr">
      <p id="copyrighti"></p> 
    </div>   
    <script>
      const year = new Date().getFullYear();
      document.getElementById('copyrighti').innerHTML = `Copyright &copy; ${year}. Atlas`;
    </script>  
  </div>
</div>
<%- include('partials/footer') %>
